<%= simple_form_for @course do |f| %>

  <div class="left ">
    <%= f.input :title %>
  </div>
  <div class="actions ">
    <%= f.submit "Save", :class => "btn-xs btn-success rating-submit-btn margin-rating-form" %>
  </div>
<% end %>

