.content
  .row
    .col-md-12
      - if @courses.present?
        .container
          - @courses.each do |course|
            .col-md-3
              .thumbnail
                = course.title.humanize
                %br
                = image_tag course.picture.admin_thumb
                %br
                =li= link_to 'Participants', course_participants_path(course)
        .row
          .col-md-offset-5
            = paginate @courses
      - else
        %h2 No courses
