<h1>Course </h1>
<%= link_to 'New Course' , new_course_path %>
<% if @courses.present? %>
	<ul>
		<% @courses.each do |f| %>
			<li> <%= f.title %> </li>
			<%= link_to 'Edit course', edit_course_path(f) %>
			<%= link_to 'Delete project', course_path(f), :method => :delete, data: { :confirm => "Sure?" } %>
		<% end %>
	</ul>
<% else %>
	<h2>No courses</h2>
<% end %>

